[Unit]
Description=Spaceship Service
After=network-online.target
Wants=network-online.target

[Service]
User=root
ExecStart=/opt/spaceship/spaceship -c /opt/spaceship/config.json
Restart=on-failure

[Install]
WantedBy=multi-user.target
